<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,270}</string>
                <key>spriteSourceSize</key>
                <string>{273,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{273,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,334}</string>
                <key>spriteSourceSize</key>
                <string>{282,334}</string>
                <key>textureRect</key>
                <string>{{0,270},{282,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,201}</string>
                <key>spriteSourceSize</key>
                <string>{284,201}</string>
                <key>textureRect</key>
                <string>{{0,604},{284,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jdstbu001.png</string>
            <key>size</key>
            <string>{284,805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e24812253c46506070aeb1ee0f9e68bf:038b24c5979c85a3e9e6007243135beb:42f6ed5203dfb10b6e5043e0f9064fa2$</string>
            <key>textureFileName</key>
            <string>jdstbu001.png</string>
        </dict>
    </dict>
</plist>
